@font-face {
    font-family: "Splat-title";
    src: url("./assets/fonts/SplatoonTitle.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Splat-text";
    src: url("./assets/fonts/SplatoonText.otf");
    font-style: normal;
    font-weight: normal;
}
/* Language Fonts */
/* Japan */
@font-face {
    font-family: "Kurokane";
    src: url("./assets/fonts/JPja/Kurokane.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rowdy";
    src: url("./assets/fonts/JPja/Rowdy.otf");
    font-style: normal;
    font-weight: normal;
}
/* Chinese (Simplified) */
@font-face {
    font-family: "HanyiZongyi";
    src: url("./assets/fonts/CNzh/hanyi_zongyi.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HuakangZongyi";
    src: url("./assets/fonts/CNzh/huakang_xinzongyi.ttc");
    font-style: normal;
    font-weight: normal;
}
/* Korean */
@font-face {
    font-family: "KCUBEr";
    src: url("./assets/fonts/KRko/AsiaKCUBE-R.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "KERINm";
    src: url("./assets/fonts/KRko/AsiaKERIN-M.otf");
    font-style: normal;
    font-weight: normal;
}
/* Chinese (Traditional) */
@font-face {
    font-family: "DFPT_AZ5";
    src: url("./assets/fonts/TWzh/DFPT_AZ5.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "DFPT_ZY9";
    src: url("./assets/fonts/TWzh/DFPT_ZY9.otf");
    font-style: normal;
    font-weight: normal;
}

body, select, input {
    font-family: 'Splat-text';
}

.tab, .imagelistsection, .title-font {
    font-family: 'Splat-title';
}

body[lang="JPja"], body[lang="JPja"] select, body[lang="JPja"] input, option[value="JPja"] {
    font-family: 'Splat-text', 'Kurokane';
}

body[lang="JPja"] .tab, body[lang="JPja"] .imagelistsection {
    font-family: 'Splat-title', 'Rowdy';
}

body[lang="KRko"], body[lang="KRko"] select, body[lang="KRko"] input, option[value="KRko"] {
    font-family: 'Splat-text', 'KERINm';
}

body[lang="KRko"] .tab, body[lang="KRko"] .imagelistsection {
    font-family: 'Splat-title', 'KCUBEr';
}

body[lang="CNzh"], body[lang="CNzh"] select, body[lang="CNzh"] input, option[value="CNzh"] {
    font-family: 'Splat-text', "HanyiZongyi";
}

body[lang="CNzh"] .tab, body[lang="CNzh"] .imagelistsection {
    font-family: 'Splat-title', "HuakangZongyi";
}

body[lang="TWzh"], body[lang="TWzh"] select, body[lang="TWzh"] input, option[value="TWzh"] {
    font-family: 'Splat-text', "DFPT_AZ5";
}

body[lang="TWzh"] .tab, body[lang="TWzh"] .imagelistsection {
    font-family: 'Splat-title', "DFPT_ZY9";
}

/* Page styling */
body{
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 11em;
    margin-right: 11em;
    height: 100%;
    background-image: url("./assets/images/camo-black.png");
    min-height: 95vh;
}

.centralwindow{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* position: relative; */
    padding: 4%;
    max-height: 90vh;
    align-items: center;
    justify-content: center;
    /* height: fit-content; */
    background-color: rgb(0, 0, 0);
    background-image: url("./assets/images/main-bg-middle.png");
    background-clip: padding-box;
}

canvas {
    width: 100%;
    /* margin-top: 60px; */
    border-radius: 4px;
    background-image: url("./assets/images/squidbg.png");
    animation: bganim 120s linear infinite;
}

.midsection{
    display: grid;
    justify-content: center;
    width: 100%;
    row-gap: 1em;
    /* padding-top: 2%; */
    flex-direction: row;
    height: 100%;
    background-image: url(".\assets\images\tab-bg-top.png"), url(".\assets\images\tab-bg-middle.png"), url("assets\images\tab-bg-bottom.png");
    background-position: top, center, bottom;
}

.entrycontainer{
    display: flex;
    flex-direction: column;
    /* padding-top: 2%;
    padding-bottom: 2%; */
    /* padding: 2%; */
}

.twticon{
    --size: 30px;
    width: var(--size);
    height: var(--size);
    vertical-align: text-bottom;
}

.entrycontainercontents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entrycontainercontents>input, .entrycontainercontents>select{
    font-size: 1.5em;
}

#customcolour{
    height: auto;
}

#tabcontainer{
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    column-gap: 2em;
}

.tab {
    background-image: url("./assets/images/tabsmall.png");
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    width: 6em;
    height: 100%;
    padding-bottom: 0.1em;

    color: white;
    text-shadow: 0 0.1em black;
    font-size: 1.5rem;
    transition: 0.05s linear;
}

/* Change color of buttons when hovering */
.tab:hover{
    background-color: aqua;
}

.tab:active{
    background-color: blue;
}

small{
    margin: 0%;
    padding: 0%;  
}

.flipped{
    transform: rotateY(180deg);
}

/* Mobile device enhancement */
/* Minimum aspect ratio */
@media (min-aspect-ratio: 9/22) and (max-aspect-ratio: 9/15) {
    body {
        background-image: none;
        background: rgb(57, 206, 49);
        margin: .1em;
    }
    .main-content{
        padding: 3%;
        font-size: 2em;
    }
    h3, tr, span{
        padding: 0px;
        margin: 0%;
    }
    #tab-buttons{
        gap:0;
        /* align-items: stretch; */
    }
    .entrycontainercontents{
        flex-wrap: wrap;
    }
    .entrycontainercontents>input, .entrycontainercontents>select{
        font-size: 0.6em;
    }
  }

  @media (min-aspect-ratio: 9/15) and (max-aspect-ratio: 4/3) {
    body {
        background-image: none;
        background: rgb(19, 20, 134);
        margin: 2em;
    }
  }

  @media (min-aspect-ratio: 20/9) and (max-aspect-ratio: 32/9){
      body{
          background-image: none;
          background:rgb(185, 173, 6);
      }
      .main-content{
          width: 100%;
      }
  }